.box{
    background: blue;
    width: 100px;
    height: 100px;
    transition:width 1s;
    
              
}

.box:hover{
    /* transform: translateY(1000px) ;     */
    
    transform: scale(0.3)  rotate(100deg);
}
